<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>Dashboard</title>
    <%- include('./snippet/header.ejs') %>
  </head>
  <body>
  
    <%- include('./snippet/navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('./snippet/sidebar.ejs') %>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="text-center mt-5 text-primary">
                <h4 class="fw-bold fs-4 display-1">Listed Buildings to Buy</h4>
            </div>
            <div class="text-end">
                <a href="/building"><button class="btn btn-sm btn-outline-danger"></i>List Building <i class="fa fa-plus"></i></button></a>
            </div>
            <table id="example" class="table small table-sm table-striped mt-5" style="width:100%">
                <thead>
                    <tr>
                        <th>Estate Name</th>
                        <th>Amount</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Agent email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% context %>
                    <% if (context.listedBuy) { %>
                     <% context.listedBuy.forEach(listedBuy => { %>
                        <tr>
                            <td><%= listedBuy.estate_name %></td>
                            <td>₦<%= new Intl.NumberFormat().format(listedBuy.amount) %></td>
                            <td><%= listedBuy.location %></td>
                            <td><%= listedBuy.description %></td>
                            <td><%= listedBuy.email %></td>
                            <td>
                                <div class="d-flex">
                                    <button onclick="return deletePost('<%= listedBuy._id%>')" class="btn btn-outline-danger btn-sm me-2 fw-bold"><i class="fa fa-trash"></i></button>
                                    <a href="/edit-buy/?buyId=<%= listedBuy._id %>"><button class="btn btn-outline-primary btn-sm me-2 fw-bold"><i class="fa fa-pen"></i></button></a>
                                </div>
                            </td>
                        </tr>
                     <% }) %>
                    <% } %>
                </tbody>
            </table>
        </main>
      </div>
    </div>



    <%- include('./snippet/scripts.ejs') %>
    <script src="/js/deleteConfig.js"></script>
    </body>
</html>
